body{
    font-family: "Segoe UI", Tahoma;
    margin : 0;
    padding : 0;
}

.container {
    display : flex;
    align-items: center;
    width : 80%;
    margin : 0 ;
    gap : 10px;
}

.card{
    flex-basis: calc(100% / 3 - 20px);
    background-color: hsl(221, 42%, 43%);
    color :white;
    text-align: center;
    padding : 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px black(125,6,6,0.2),5px 5px 10px 5px green;
    height: 200px;
}

button{
    border-radius: 5px;
    box-shadow: 1px 1px 23px 2px white;
}

    